html {
    box-sizing: border-box;
    min-height: 100vh;
    background: url('christmas-bg.jpg');
    background-size: 100% auto;
    font-family: Futura,"Trebuchet MS",Arial,sans-serif;
}

*, *:before, *:after {
    box-sizing: inherit; 
  }

  body {

  }

  .name-entry-wrapper {
      max-width: 500px;
      background: rgb(255, 255, 255);
      box-shadow: 0 0 0 15px rgba(20, 199, 223, 0.9);
      margin: 50px auto;
  }

  /*h2*/
  .title-text {
    font-family: 'Srisakdi', cursive;
    font-family: 'Charmonman', cursive;
    text-align: center;
    font-size: 2em;
    padding-top: 10px;
    margin: 0;

    
  }

  /*ul*/
  .names {
    margin: 0;
    padding: 0;
    list-style: none;
    border: 1px solid rgba(0,0,0,0.1);
  }

  .names li {
    border-bottom: 1px solid rgba(0,0,0,0.2);
    padding: 10px 0;
    font-weight: 100;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;

  }

  span {
      margin-left: 10px;
  }

  .names li input {
      border: 20px solid blue;
  }

  .names li label {
      flex: 1;
      text-align: center;
      font-size: 1.4em;

  }

/*form*/
  .add-names {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .add-names input {
    padding: 10px;
    outline: 0;
    border: 1px solid rgba(0,0,0,0.1);
  }

  .add-names input[name='name'] {
      flex: 1 1 100%;
      border-top: none;
      border-bottom: 1px solid rgba(0,0,0,0.1);
      margin-top: 2px;
    
  }

  .add-names input:nth-last-child(-n+4) {
      margin: 10px;
      flex: 1;
  }

  .match-wrapper {
      display: flex;
      justify-content: center;
      border: 1px solid blue;
      margin-top: 10px;
  }

  input[name="match"] {
      padding: 10px;
  }

  .results-wrapper {
      background: rgba(255,255,255,1);
      box-shadow: 0 0 0 15px rgba(20, 199, 223, 0.9);
      max-width: 800px;
      margin: 50px auto;
      display: none;
  }

  table {
      width: 100%;
  }

  table tr th {
      display: flex;
      flex: 1;
      justify-content: center;
      padding: 10px;
  }

  table tr {
      display: flex;
    
  }


  tr:nth-child(even) {
    background-color: #dddddd;
}

  table td {
      flex: 1;
      text-align: center;
      padding: 10px;
      border: 1px solid rgba(0,0,0,0.1);
  }